{% extends 'shared/base.html' %}
{% include 'shared/nav_bar.html' %}

{% block content %}

    <div>
        <p>{{ user.username }}</p>

        <a href="/user/follow/{{loggedin_user}}/{{user.id}}"> <button>Follow this person</button></a>
        
        <h4>Tweets authored by this user</h4>

        <div>
        
            {%for tweet in tweets%}
                <div class="tweet">
                    <p>{{ tweet.body }}</p>
                    <p>Likes: {{ tweet.likes }}</p>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}